<footer class="link-footer" id="link-footer">

    <div class="width-wrapper" id="link-footer-width-wrapper">

        <nav class="link-footer-links link-footer-codepen-links" id="link-footer-codepen-links">
            <strong>CultureConfiture</strong>
            <a href="/about/">About</a>
            <a href="http://blog.codepen.io/">Blog</a>
            <a href="http://blog.codepen.io/store/">Store</a>
            <a href="http://blog.codepen.io/radio/">Podcast</a>
            <a href="/advertising/">Advertising</a>
            <a href="http://blog.codepen.io/documentation">Docs</a>
            <a href="/support/">Support</a>
        </nav>

        <nav class="link-footer-links link-footer-social-links" id="link-footer-social-links">
            <strong>Social</strong>
            <a href="https://twitter.com/CultureConfiture">Twitter</a>
            <a href="https://www.facebook.com/CultureConfiture/">Facebook</a>
            <a href="https://www.flickr.com/photos/CultureConfiture/">Flickr</a>
            <a href="https://www.instagram.com/CultureConfiture/">Instagram</a>
            <a href="https://www.pinterest.com/CultureConfiture/">Pinterest</a>
            <a href="http://giphy.com/channel/CultureConfiture/">Giphy</a>
        </nav>




        <div class="copyright" id="link-footer-copyright">
            <h1 class="logo header-chunk">

                <a href="http://cultureconfiture.io/" class="small-screen-logo">
                    <svg class="icon-codepen-box">
                        <use xlink:href="#codepen-box" />
                    </svg>
                </a>

                <a href="http://codepen.io/" class="large-screen-logo">
                    CultureConfiture
                </a>

            </h1>
            <p>&copy;2017 CultureConfiture</p>
            <p class="slogan">
                <em>La Culture c'est comme la confiture. Moins on en a, plus on l'étale</em>
            </p>
        </div>

    </div>

</footer>