<footer class="promo-footer" id="promo-footer">

    <div class="width-wrapper" id="promo-footer-width-wrapper">

        <div class="flex-grid-quarters">

            <div class="footer-chunk footer-chunk-pro" id="footer-chunk-pro">
                <h3>
                    Internet ou la niche à culture mondiale
                </h3>
                <p>
                    Des tas d'APIs à utiliser pour trouver de la culture
                </p>
                <p>
                    <a href="/signup/" class="button button-medium button-fullwidth">En savoir plus</a>
                </p>
                <p class="center">
                    <a href="/pro/">Les APIs</a>
                </p>
            </div>

            <div class="footer-chunk footer-chunk-hired text" id="footer-chunk-hired">

            </div>

            <div class="footer-chunk footer-chunk-radio" id="footer-chunk-radio">

            </div>

            <div class="footer-chunk footer-chunk-ad" id="footer-chunk-ad">

            </div>

        </div>

    </div>

</footer>