{% extends 'base.html.twig' %}

{% block body %}

    <section class="home-section home-promo">

        <div class="promo-content">

            <svg class="promo-logo">
                <use xlink:href="#codepen-box" />
            </svg>

            <h1>CultureConfiture pour partager la culture</h1>

            <p class="promo-tagline">
                Partager la culture et l'envoyer
            </p>

            <p class="calls-to-action">
                <a href="/hello/" class="button big promo-button-black">
                    Le principe
                </a>
                <a href="/signup/" class="button big promo-button-green">
                    S'inscrire
                </a>
            </p>

        </div>

        <iframe src="//s.codepen.io/team/codepen/debug/b2514505bd27e5d69b53c217eae80c40" frameborder="0" class="promo-background-iframe" scrolling="no"></iframe>
        <div class="promo-background-div"></div>
        <div class="promo-credit">
            <a href="http://codepen.io/labdev/pen/yNYRYK">Background by Aaron Buchanan</a>
        </div>

        <div class="promo-landing-page-links">
            <a href="/pro/teams/">
                <span class="codepen-for">Sélectionner un pot de</span>
                <span class="promo-for">Culture</span>
            </a>
            <a href="/education/">
                <span class="codepen-for">Étalez en un peu sur une belle</span>
                <span class="promo-for">Tartine</span>
            </a>
            <a href="/pro/privacy/">
                <span class="codepen-for">Faites déguster à vos</span>
                <span class="promo-for">Amis</span>
            </a>
            <!--
                <a href="/blogging/">
                    <span class="codepen-for">CodePen for</span>
                    <span class="promo-for">Writing</span>
                </a>
            -->
        </div>

    </section>


    <div class="width-wrapper">

        <section class="home-section">

            <div class="title-header pens-title-header">
                <h1>Picked Pens</h1>
                <a href="/pens/" class="more-link more-link-pens">
                    <span class="bonus-text">View</span>
                    More
                    <span class="bonus-text">Pens</span>
                    <svg class="icon-arrow-circle-right">
                        <use xlink:href="#arrow-circle-right"></use>
                    </svg>
                </a>
            </div>

            <div id="picks-grid" class="pen-grid view-grid home-picked-pens-grid">

                <div class="single-pen single-pen-fpo">
                    <div class="iframe-wrap"></div>
                    <div class="meta group">
                        <h3 class="pen-title">
                            &nbsp;
                        </h3>
                        <div class="user-and-stats">
                            <div class="user">
                                <a class="username" href="#0">
                                    <img width="20" height="20">
                                    <span>&nbsp;</span>
                                    &nbsp;
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-pen single-pen-fpo">
                    <div class="iframe-wrap"></div>
                    <div class="meta group">
                        <h3 class="pen-title">
                            &nbsp;
                        </h3>
                        <div class="user-and-stats">
                            <div class="user">
                                <a class="username" href="#0">
                                    <img width="20" height="20">
                                    <span>&nbsp;</span>
                                    &nbsp;
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-pen single-pen-fpo">
                    <div class="iframe-wrap"></div>
                    <div class="meta group">
                        <h3 class="pen-title">
                            &nbsp;
                        </h3>
                        <div class="user-and-stats">
                            <div class="user">
                                <a class="username" href="#0">
                                    <img width="20" height="20">
                                    <span>&nbsp;</span>
                                    &nbsp;
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-pen single-pen-fpo">
                    <div class="iframe-wrap"></div>
                    <div class="meta group">
                        <h3 class="pen-title">
                            &nbsp;
                        </h3>
                        <div class="user-and-stats">
                            <div class="user">
                                <a class="username" href="#0">
                                    <img width="20" height="20">
                                    <span>&nbsp;</span>
                                    &nbsp;
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-pen single-pen-fpo">
                    <div class="iframe-wrap"></div>
                    <div class="meta group">
                        <h3 class="pen-title">
                            &nbsp;
                        </h3>
                        <div class="user-and-stats">
                            <div class="user">
                                <a class="username" href="#0">
                                    <img width="20" height="20">
                                    <span>&nbsp;</span>
                                    &nbsp;
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-pen single-pen-fpo">
                    <div class="iframe-wrap"></div>
                    <div class="meta group">
                        <h3 class="pen-title">
                            &nbsp;
                        </h3>
                        <div class="user-and-stats">
                            <div class="user">
                                <a class="username" href="#0">
                                    <img width="20" height="20">
                                    <span>&nbsp;</span>
                                    &nbsp;
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </section>

    </div>

{% endblock %}


{% block javascripts %}
    <div id="popup-overlay" class="overlay popup-overlay"></div>
    <div id="modal-overlay" class="overlay modal-overlay"></div>

    <noscript>

        <input type="checkbox" class="modal-closing-trick" id="modal-closing-trick">

        <div class="overlay noscript-overlay" style="display: block;"></div>

        <div class="modal modal-message group modal-warning">

            <div class="modal-title">CodePen doesn't work very well without JavaScript.</div>

            <p>We're all for progressive enhancement, but CodePen is a bit unique in that it's all about writing and showing front end code, including JavaScript. It's required to use most of the features of CodePen.</p>

            <p>Need to know how to enable it? <a href="http://enable-javascript.com/" target="_blank">Go here.</a></p>

            <label class="button button-medium" for="modal-closing-trick">Close this, use anyway.</label>

        </div>

    </noscript>

    <input type="hidden" id="init-data" value="{&quot;__mobile&quot;:false,&quot;__cookieUsed&quot;:true,&quot;__turnOffJS&quot;:false,&quot;__CPDATA&quot;:{&quot;host&quot;:&quot;codepen.io&quot;,&quot;asset_host&quot;:&quot;production-assets.codepen.io&quot;,&quot;embed_asset_host&quot;:&quot;production-assets.codepen.io&quot;,&quot;host_port&quot;:&quot;&quot;,&quot;host_secure_subdomain&quot;:&quot;s.&quot;,&quot;iframe_sandbox&quot;:&quot;allow-scripts allow-pointer-lock allow-same-origin allow-popups allow-modals allow-forms&quot;},&quot;__env&quot;:&quot;prod&quot;,&quot;__browserName&quot;:&quot;Firefox&quot;,&quot;__remote_addr&quot;:&quot;2a01:0e34:efd4:b490:a04b:7775:52dd:2359&quot;,&quot;__user&quot;:{&quot;id&quot;:1,&quot;name&quot;:&quot;Captain Anonymous&quot;,&quot;username&quot;:&quot;anon&quot;,&quot;base_url&quot;:&quot;/anon/&quot;,&quot;current_team_id&quot;:0,&quot;paid&quot;:false,&quot;plan_type&quot;:&quot;free&quot;,&quot;session_hash&quot;:&quot;&quot;},&quot;__pages&quot;:[{&quot;grid_id&quot;:&quot;picks-grid&quot;,&quot;grid_url&quot;:&quot;/home/grid/2/&quot;,&quot;page_type&quot;:&quot;picks&quot;,&quot;page&quot;:2,&quot;per_page&quot;:6,&quot;js_global_name&quot;:&quot;__pages&quot;,&quot;prev_grid_url&quot;:&quot;/home/grid/&quot;,&quot;next_grid_url&quot;:&quot;/home/grid/3/&quot;,&quot;page_url&quot;:&quot;/picks/2/&quot;,&quot;page_is_main_grid&quot;:true}],&quot;__pageType&quot;:&quot;home&quot;}">

    <script src="https://production-assets.codepen.io/assets/common/everypage-4deb0db132744fb0c87cc719fe7b42ba955814162f416661abbb0f68fb6b7846.js"></script>



    <script src="https://production-assets.codepen.io/assets/home/home-3761f45993e531ef6d2d34d1ab41782161290a8ef8c0cb42a51e16c275c0d7b3.js"></script>
{%  endblock %}