{% extends 'base.html.twig' %}

{% block title %}CultureConfiture{% endblock %}

{% block body %}

    <section class="home-section home-promo">

        <div class="promo-content">

            <svg class="promo-logo">
                <use xlink:href="#codepen-box" />
            </svg>

            <h1>CultureConfiture pour partager la culture</h1>

            <p class="promo-tagline">
                Partager la culture et l'envoyer
            </p>

            <p class="calls-to-action">
                <a href="/hello/" class="button big promo-button-black">
                    Le principe
                </a>
                <a href="/signup/" class="button big promo-button-green">
                    S'inscrire
                </a>
            </p>

        </div>

        <iframe src="//s.codepen.io/team/codepen/debug/b2514505bd27e5d69b53c217eae80c40" frameborder="0" class="promo-background-iframe" scrolling="no"></iframe>
        <div class="promo-background-div"></div>
        <div class="promo-credit">
            <a href="http://codepen.io/labdev/pen/yNYRYK">Background by Aaron Buchanan</a>
        </div>

        <div class="promo-landing-page-links">
            <a href="{{ url('culture') }}">
                <span class="codepen-for">Sélectionner un pot de</span>
                <span class="promo-for">Culture</span>
            </a>
            <a href="/education/">
                <span class="codepen-for">Étalez en un peu sur une belle</span>
                <span class="promo-for">Tartine</span>
            </a>
            <a href="/pro/privacy/">
                <span class="codepen-for">Faites déguster à vos</span>
                <span class="promo-for">Amis</span>
            </a>
            <!--
                <a href="/blogging/">
                    <span class="codepen-for">CodePen for</span>
                    <span class="promo-for">Writing</span>
                </a>
            -->
        </div>

    </section>


    <div class="width-wrapper">

        <section class="home-section">

            <div class="title-header pens-title-header">
                <h1>Picked Pens</h1>
                <a href="/pens/" class="more-link more-link-pens">
                    <span class="bonus-text">View</span>
                    More
                    <span class="bonus-text">Pens</span>
                    <svg class="icon-arrow-circle-right">
                        <use xlink:href="#arrow-circle-right"></use>
                    </svg>
                </a>
            </div>

            <div id="picks-grid" class="pen-grid view-grid home-picked-pens-grid">

                <div class="single-pen single-pen-fpo">
                    <div class="iframe-wrap"></div>
                    <div class="meta group">
                        <h3 class="pen-title">
                            &nbsp;
                        </h3>
                        <div class="user-and-stats">
                            <div class="user">
                                <a class="username" href="#0">
                                    <img width="20" height="20">
                                    <span>&nbsp;</span>
                                    &nbsp;
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-pen single-pen-fpo">
                    <div class="iframe-wrap"></div>
                    <div class="meta group">
                        <h3 class="pen-title">
                            &nbsp;
                        </h3>
                        <div class="user-and-stats">
                            <div class="user">
                                <a class="username" href="#0">
                                    <img width="20" height="20">
                                    <span>&nbsp;</span>
                                    &nbsp;
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-pen single-pen-fpo">
                    <div class="iframe-wrap"></div>
                    <div class="meta group">
                        <h3 class="pen-title">
                            &nbsp;
                        </h3>
                        <div class="user-and-stats">
                            <div class="user">
                                <a class="username" href="#0">
                                    <img width="20" height="20">
                                    <span>&nbsp;</span>
                                    &nbsp;
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-pen single-pen-fpo">
                    <div class="iframe-wrap"></div>
                    <div class="meta group">
                        <h3 class="pen-title">
                            &nbsp;
                        </h3>
                        <div class="user-and-stats">
                            <div class="user">
                                <a class="username" href="#0">
                                    <img width="20" height="20">
                                    <span>&nbsp;</span>
                                    &nbsp;
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-pen single-pen-fpo">
                    <div class="iframe-wrap"></div>
                    <div class="meta group">
                        <h3 class="pen-title">
                            &nbsp;
                        </h3>
                        <div class="user-and-stats">
                            <div class="user">
                                <a class="username" href="#0">
                                    <img width="20" height="20">
                                    <span>&nbsp;</span>
                                    &nbsp;
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-pen single-pen-fpo">
                    <div class="iframe-wrap"></div>
                    <div class="meta group">
                        <h3 class="pen-title">
                            &nbsp;
                        </h3>
                        <div class="user-and-stats">
                            <div class="user">
                                <a class="username" href="#0">
                                    <img width="20" height="20">
                                    <span>&nbsp;</span>
                                    &nbsp;
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </section>

    </div>

{% endblock %}